@model CountryModel


<form asp-controller="countries" asp-action="create" method="post">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-prepend">
                <label for="loginid" class="input-group-text">
                    <i class="fa fa-edit"></i>
                </label>
            </span>
            <input asp-for="Name" type="text" class="form-control" placeholder="Name" required="required" />
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-prepend">
                <label for="password" class="input-group-text">
                    <i class="fa fa-key"></i>
                </label>
            </span>
            <input asp-for="Code" type="number" min="1" max="199" class="form-control" placeholder="Code" />
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-circle-right"></i>  Save</button>
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fa fa-refresh"></i>  Cancel</button>
    </div>
</form>
